<div class="content login pure-u" data-ng-controller="AuthLoginCtrl">
  <h1 class="center">Consilium</h1>
  <hr class="soften" />
  <div class="separator-small"></div>
  <form name="loginForm" class="pure-form pure-form-aligned" data-ng-submit="login.submit(loginForm)">
    <div class="pure-form-fields">
      <div class="pure-control-group">
        <%= label_tag 'email', 'Email Address' %>
        <%= email_field_tag 'email', nil, :placeholder => 'Email address', :required => true, :data => {:ng_model => 'loginData.email'} %>
      </div>
      <div class="pure-control-group">
        <%= label_tag 'Password', 'Password' %>
        <%= password_field_tag 'password', nil, :placeholder => 'Password', :required => true, :data => {:ng_model => 'loginData.password'} %>
      </div>
    </div>
    <div class="login-buttons">
      <%= link_to "Forgot Password", new_user_password_path, :class => 'pure-button' %>
      <%= link_to "Sign Up", new_user_registration_path, :class => 'pure-button pure-button-secondary' %>
      <% # TODO: Show that Login failed %>
      <% # TODO: Submit and link buttons do not scale at same rate %>
      <button class = "pure-button pure-button-primary" data-ng-click="login.submit(loginForm)" type="submit" 
              style="vertical-align: top;font-family: 'Helvetica Neue', sans-serif;">Login</button>
    </div>
  </form>
</div>
