<div class="content login" data-ng-controller="AuthLoginCtrl">
  <h1 class="center">Consilium</h1>
  <hr class="soften" />
  <div class="separator-small"></div>
  <form name="loginForm" class="pure-form pure-form-aligned" data-ng-submit="login.submit(loginForm)">
    <%= field_set_tag nil do %>
      <div class="pure-control-group">
        <%= label_tag 'email', 'Email Address' %>
        <%= email_field_tag 'email', nil, :placeholder => 'Email address', :required => true, :data => {:ng_model => 'loginData.email'} %>
      </div>
      <div class="pure-control-group">
        <%= label_tag 'Password', 'Password' %>
        <%= password_field_tag 'password', nil, :placeholder => 'Password', :required => true, :data => {:ng_model => 'loginData.password'} %>
      </div>
    <% end %>
    <div class="login-buttons">
      <%= link_to "Forgot Password", new_user_password_path, :class => 'pure-button' %>
      <%= link_to "Sign Up", new_user_registration_path, :class => 'pure-button pure-button-secondary' %>
      <% # TODO: Remove the hidden submit button and fix the Login button so the enter button submits form.
      <%= link_to "Login", '', :class => 'pure-button pure-button-primary', :type => 'submit', :data => {:ng_click => 'login.submit(loginForm)'} %>
      <input style="visibility: hidden;" data-ng-click="login.submit(loginForm)" type="submit" value="Login">
    </div>
  </form>
</div>
