<% fields = Client::FIELDS.detect{|f| f[:id] == 'locations'} %>
<% fields = fields[:type] %>

<% paths = {
     "Home" => "#/",
     "{{ isBroker ? 'Clients' : null }}" => "#/clients/index",
     "{{ (clientId || savedOnce) && (client.company.value || 'Client') }}" => "{{ '#/clients/show/' + client.id }}",
     "{{ clientChangeId ? 'History' : 'Details' }}" => "#/clients/{{ clientChangeId ? 'edit/' + clientId + '/' + clientChangeId : (clientId ? 'edit/' + clientId : 'new') }}",
     "{{ title() }}" => "#/clients/{{ clientChangeId ? 'edit/' + clientId + '/' + clientChangeId : (clientId ? 'edit/' + clientId : 'new') }}/location"
   }
 %>

<% content_for :sections do %>
  <ul class="step">
    <li><a href="/clients/edit/{{ clientId }}">Location</a></li>
    <ul>
      <% fields.each_with_index do |field, index| %>
        <% if field = fieldAsCollection(field) %>
          <li data-ng-class="changedSections.<%= field[:id] %> && 'changed'">
            <a href="" data-click-href="#<%= field[:id] %>" click-href-margin="145" click-href-condition="screen and (min-height: 768px)">
              <span class="section-number"><%= getSectionId(index, fields) %>.</span> <%= field[:name] %>
            </a>
          </li>
        <% end %>
      <% end %>
    </ul>
  </ul>
<% end %>


<%= render :layout => 'layouts/clients/edit', :locals => {:fields => fields, :root => 'client.locations.value[locationId]', :paths => paths} do %>
  <%= render :partial => 'templates/breadcrumbs',
             :locals => { :paths => paths }
   %>
<% end %>
