<% paths = {
     "Home" => "#/",
     "Brokerage" => "#/brokerage/index",
   }
 %>

<div id="main" class="pure-u" data-ng-controller="BrokerageIndexCtrl">
  <% Brokerage::FIELDS.each do |field| %>
    <% if field[:type].is_a?(Array) %>
      <%= render :partial => 'templates/field_modal',
                 :locals => {
                   :field => field,
                   :page_title => 'Brokerage',
                   :syncable => false,
                   :submit_callback => "addToField('#{field[:id]}')",
                   :paths => paths,
                 } %>
    <% end %>
  <% end %>

  <div class="content header pure-u-1">
    <h2 class="no-bottom-margin">
      Brokerage
    </h2>

    <%= render :partial => 'templates/breadcrumbs',
               :locals => { :paths => paths }
     %>
  </div>
  <hr class="soften" />

  <div class="content" data-ng-show="loading">
    <h3 class="no-top-margin"><i class="icon-spinner icon-spin icon-large"></i> Loading...</h3>
  </div>

  <div class="content" data-ng-show="!loading">
    <form auto-save="brokerage" name="brokerageForm" data-ng-submit="saveForm()"
          class="brokerage-form pure-form pure-form-aligned">
      <div class="well">
        <div class="section" id="basicInfo">
          <h3 class="no-top-margin no-bottom-margin">Office Info.</h3>
        </div>

        <div class="pure-form-fields">
          <% Brokerage::FIELDS.each do |field| %>
            <% if !field[:type].is_a?(Array) %>
              <%= form_field field, 'brokerage', :syncable => false %>
            <% end %>
          <% end %>
        </div>
      </div>

      <% Brokerage::FIELDS.each do |field| %>
        <% if field[:type].is_a?(Array) %>
          <div class="separator"></div>

          <div class="well">
            <div class="section">
              <a class="section-edit pull-right pure-button pure-button-success" modal-toggle="<%= field[:id] %>">
                <i class="icon-plus"></i> <span class="only-desktops">Add <%= field[:name].singularize %></span>
              </a>
              <h3 class="no-top-margin no-bottom-margin">Brokerage <%= field[:name] %></h3>
            </div>

            <%= render :partial => 'templates/action_table',
                       :locals => {
                         :name => field[:id],
                         :model => "brokerage." + field[:id],
                         :rowClick => "editInField('#{field[:id]}', null, $index)",
                         :fields => getPrimaryFieldsFromModel(field[:type]),
                         :actions => [
                           {
                             :icon => 'icon-edit',
                             :click => "editInField('#{field[:id]}', null, $index)",
                           },
                           {
                             :class => 'pure-button-error',
                             :icon => 'icon-trash',
                             :click => "deleteFromField('#{field[:id]}', null, $index)",
                           },
                         ],
                       } %>
          </div>
        <% end %>
      <% end %>

      <div class="separator-xsmall"></div>

      <div class="button-group">
        <button class="pure-button pure-button-secondary pure-button-large"
                data-ng-disabled="!saving && !brokerageForm.$dirty" type="submit">
          <span data-ng-if="saving">
            <i class="icon-spinner icon-spin"></i> Saving...
          </span>
          <span data-ng-if="!saving && !brokerageForm.$dirty">
            Saved
          </span>
          <span data-ng-if="!saving && brokerageForm.$dirty && brokerageForm.$valid">
            Save
          </span>
          <span data-ng-if="!saving && brokerageForm.$dirty && !brokerageForm.$valid">
            Save ({{ errorCount() }})
          </span>
        </button>
      </div>
    </form>
  </div>
</div>
