<% paths = {
     "Home" => "#/",
     "Brokerage" => "#/brokerage/index",
   }
 %>

<div data-ng-controller="BrokerageIndexCtrl">
  <% Brokerage::FIELDS.each do |field| %>
    <% if field = fieldAsCollection(field) %>
      <%= render :partial => 'templates/field_modal',
                 :locals => {
                   :field => field,
                   :page_title => 'Brokerage',
                   :syncable => false,
                   :submit_callback => field[:submitCallback] || "saveField()",
                   :paths => paths,
                   :root => 'brokerage',
                 } %>
    <% end %>
  <% end %>

  <div class="client-header" data-ng-class="{'active': menuShouldShow()}">
    <div class="content header pure-u-1">
      <h2 class="no-bottom-margin">Brokerage</h2>
      <%= render :partial => 'templates/breadcrumbs',
                 :locals => { :paths => paths }
      %>
    </div>
    <hr class="soften no-bottom-margin" />
  </div>

  <div id="main" class="brokerage-form pure-u">
    <div class="content has-header" data-ng-show="loading">
      <h3 class="no-top-margin"><i class="icon-spinner icon-spin icon-large"></i> Loading...</h3>
    </div>

    <div class="content has-header" data-ng-show="!loading">
      <form auto-save="brokerage" name="brokerageForm" data-ng-submit="saveForm()"
            class="pure-form pure-form-aligned">
        <div <%= node_tag 'brokerage', :root => true, :writeNode => true, :syncable => false %>>
          <div class="well">
            <div class="section" id="basicInfo">
              <h3 class="no-top-margin no-bottom-margin">Office Info.</h3>
            </div>

            <div class="pure-form-fields">
              <% Brokerage::FIELDS.each do |field| %>
                <% if fieldAsCollection(field).nil? && field[:edit] != false %>
                  <%= form_field field, 'brokerage', :syncable => false %>
                <% end %>
              <% end %>
            </div>
          </div>

          <% Brokerage::FIELDS.each do |field| %>
            <% if field = fieldAsCollection(field) %>
              <div <%= node_tag field[:id], :field => true %>>
                <div class="separator"></div>

                <div class="well">
                  <div class="section">
                    <a class="section-edit pull-right pure-button pure-button-success" modal-toggle="<%= field[:id] %>"
                       data-ng-show="!readonly">
                      <i class="icon-plus"></i> <span class="only-desktops">Add <%= field[:name].singularize %></span>
                    </a>
                    <h3 class="no-top-margin no-bottom-margin">Brokerage <%= field[:name] %></h3>
                  </div>

                  <%= render :partial => 'templates/action_table',
                             :locals => {
                                :field => field,
                                :model => "brokerage." + field[:id],
                                :rowClick => true,
                                :fields => field[:id] != 'users' ? nil : [
                                  {
                                    :name => 'Name',
                                    :id => 'name',
                                    :content => '{{ item.name }}',
                                  },
                                  {
                                    :name => 'Email',
                                    :id => 'email',
                                    :content => '<a ng-href="#/users/show/{{ item.id }}">{{ item.email }}</a>'
                                  }
                                ],
                                :actions => [
                                 {
                                   :class => '{{ !readonly && "pure-button-primary" }}',
                                   :icon => '{{ readonly ? "icon-eye-open" : "icon-edit" }}',
                                   :click => "editInField($index)",
                                 },
                                 {
                                   :class => 'pure-button-error',
                                   :icon => 'icon-trash',
                                   :click => "deleteFromField($index)",
                                   :attrs => "data-ng-show='!readonly'"
                                 },
                               ],
                             } %>
                </div>
              </div>
            <% end %>
          <% end %>

          <div class="separator-xsmall"></div>

          <div class="button-group" data-ng-show="!readonly">
            <button class="pure-button pure-button-secondary pure-button-large"
                    data-ng-disabled="!saving && !brokerageForm.$dirty" type="submit">
              <span data-ng-if="saving">
                <i class="icon-spinner icon-spin"></i> Saving...
              </span>
              <span data-ng-if="!saving && !brokerageForm.$dirty">
                Saved
              </span>
              <span data-ng-if="!saving && brokerageForm.$dirty && brokerageForm.$valid">
                Save
              </span>
              <span data-ng-if="!saving && brokerageForm.$dirty && !brokerageForm.$valid">
                Save ({{ errorCount() }})
              </span>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
