<% paths ||= {} %>
<% paths = paths.dup %>
<% paths[local_assigns[:title] || field[:name].singularize] = paths.values.last + '?modalActive' %>

<div id="modal-<%= field[:id] %>" class="modal pure-u">
  <div class="layout modal-inside" data-ng-class="{'active': menuShouldShow()}">
    <div class="header content pure-u-1">
      <h2 class="no-bottom-margin"><%= local_assigns[:title] || field[:name].singularize %></h2>
      <%= render :partial => 'templates/breadcrumbs',
                 :locals => { :paths => paths }
       %>
    </div>
    <hr class="soften" />
    <div class="content">
      <div class="form-content">
        <% if !field[:modalPartial] %>
          <div <%= node_tag local_assigns[:root], :root => true, :shadow => true %>>
        <% end %>
          <% if local_assigns[:submit_callback] %>
            <form name="<%= field[:id] %>Form"
                  class="pure-form pure-form-aligned"
                  data-ng-submit="<%= submit_callback %>"
                  <%= !field[:modalPartial] && node_tag(field[:id], :field => true, :writeNode => true, :syncable => local_assigns[:syncable]) %>>
          <% end %>
            <% if field[:modalPartial] %>
              <%= render :partial => field[:modalPartial],
                         :locals => local_assigns %>
            <% else %>
              <div class="pure-form-fields">
                <% field[:type].each do |subfield| %>
                  <%= form_field subfield, field[:id], {
                        :syncable => defined?(syncable) ? syncable : true,
                        :model_parent => local_assigns[:root],
                        :changed => "changedFields.#{field[:id]}[#{field[:id]}.$index].#{subfield[:id]}"
                      } %>
                <% end %>
              </div>
            <% end %>
            <div class="separator"></div>
            <div class="pull-right">
              <button data-ng-show="!readonly" type="submit" class="pure-button pure-button-primary"><%= local_assigns[:submit_text] || 'Save' %></button>
              <% if local_assigns[:delete_callback] %>
                <button type="button" class="pure-button pure-button-error"
                        data-ng-show="!readonly && writeNode.<%= field[:id] %>.$index != null"
                        data-ng-click="<%= h delete_callback %>">
                  Delete
                </button>
              <% end %>
              <button class="pure-button {{ readonly ? 'pure-button-primary' : 'pure-button' }}" modal-toggle="<%= field[:id] %>">{{ readonly ? "Close" : "Cancel" }}</button>
              </div>
          <% if local_assigns[:submit_callback] %>
            </form>
          <% end %>
        <% if !field[:modalPartial] %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
