<table class="<%= name %>-table pure-table pure-table-horizontal pure-table-full-width"
       <%= local_assigns[:infiniteScroll] && "infinite-scroll data-update='#{local_assigns[:infiniteScroll]}'" %> >
  <thead>
    <tr>
      <% fields.each do |field| %>
        <th class="<%= field[:class] %>"
         <% if local_assigns[:sortable] %>
            data-ng-click="<%= model %>Predicate = '<%= field[:class] %>.value || <%= field[:class] %>'; <%= model %>Reverse = !<%= model %>Reverse"
         <% end %>
        ><%= field[:name] %></th>
      <% end %>
      <th class="actions align-right">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr data-ng-show="!<%= name %>Loading && <%= name %>Error">
      <td colspan="<%= fields.length + 1 %>">Could not load <%= name %>. Please try again later</td>
    </tr>
    <tr data-ng-show="!<%= name %>Loading && !<%= name %>Error && !<%= model %>.length">
      <td colspan="<%= fields.length + 1 %>">No <%= name %> available.</td>
    </tr>
    <tr data-ng-repeat="item in <%= model %><%= ".slice(0, #{limit})" if !local_assigns[:limit].nil? %><%= " | orderBy:#{model}Predicate:#{model}Reverse" if local_assigns[:sortable] %>"
        <%= defined?(rowhref) && raw("data-click-href='#{rowhref}'") %> >
      <% fields.each do |field| %>
        <td class="<%= field[:class] %>"><%= raw field[:content] %></td>
      <% end %>
      <td class="actions align-right">
        <% actions.each do |action| %>
          <a data-ng-href="<%= action[:href] %>" data-ng-click="<%= raw(action[:click]) %>"
             class="pure-button pure-button-small <%= action[:class] %>" <%= raw action[:attrs] %> >
            <i class="<%= action[:icon] %> icon-large"></i>
          </a>
        <% end %>
      </td>
    </tr>
    <tr data-ng-show="<%= name %>Loading">
      <td colspan="<%= fields.length + 1 %>"><i class="icon-spinner icon-spin icon-large"></i> Loading...</td>
    </tr>
  </tbody>
</table>
