<div class="well" data-ng-class="changedSections.<%= field[:id] %> && 'changed'">
  <div id="<%= field[:id] %>" class="section">
    <a class="section-edit pull-right pure-button pure-button-primary"
       <%= "modal-toggle=#{field[:id]}" if !field.has_key?(:createHref) %>
       <%= "data-ng-href=#{field[:createHref]}" if field.has_key?(:createHref) %>
       data-ng-show="!clientChangeId">
      <i class="icon-plus"></i> <span class="only-desktops">Add <%= field[:name].singularize %></span>
    </a>
    <h3 class="no-top-margin no-bottom-margin"><%= index %>. <%= field[:name] %></h3>
  </div>
  <%= render :partial => 'templates/action_table',
             :locals => {
               :name => 'data',
               :model => "#{root || 'client'}.#{field[:id]}.value",
               :rowClick => if field.has_key?(:editHref)
                            then "navigateTo('#{field[:editHref]}')"
                            else "editInField('#{field[:id]}', #{if defined? root then "'#{root}'" else 'null' end}, $index)" end,
               :fields => [
                 {
                   :name => field[:type].first[:name],
                   :content => "{{ item.#{field[:type].first[:id]}.value }}"
                 },
               ],
               :actions => [
                 {
                   :icon => 'icon-edit',
                   :click => if field.has_key?(:editHref)
                             then "navigateTo('#{field[:editHref]}')"
                             else "editInField('#{field[:id]}', #{if defined? root then "'#{root}'" else 'null' end}, $index)" end,
                 },
                 {
                   :class => 'pure-button-error',
                   :icon => 'icon-trash',
                   :click => "deleteFromField('#{field[:id]}', #{if defined? root then "'#{root}'" else 'null' end}, $index)",
                   :attrs => "data-ng-show='!clientChangeId'"
                 },
               ],
             } %>
</div>
<div class="separator"></div>
