<div id="modalAdd<%= field[:id] %>" class="modal">
  <div class="layout modal-inside" data-ng-class="{'active': menuShouldShow()}">
    <div class="header content pure-u-1">
      <h2 class="no-bottom-margin">Add <%= field[:name].singularize %></h2>
      <div class="breadcrumbs">
        <a data-ng-href="#/">Home</a>
        <span class="divider">&gt;</span>
        <a data-ng-href="#/clients/new">New Client</a>
        <span class="divider">&gt;</span>
        <a data-ng-href="#/clients/new">Add <%= field[:name].singularize %></a>
        <hr class="soften" />
      </div>
    </div>

    <div class="content">
      <div class="client-form">
        <div class="form-content">
          <form name="form<%= field[:id] %>"
                class="pure-form pure-form-aligned"
                data-ng-submit="addToField('<%= field[:id] %>')">
            <% field[:type].each do |subfield| %>
              <div class="pure-control-group">
                <label for="<%= subfield[:id] %>"><%= subfield[:name] %></label>
                <%= ng_input(subfield, field[:id] + '.' + subfield[:id])  %>
              </div>
            <% end %>
            <div class="separator"></div>
            <div class="pull-right">
              <button type="submit" class="pure-button pure-button-primary">Save</button>
              <button href="#modalAdd<%= field[:id] %>" class="pure-button" data-ng-click="closeModal('<%= field[:id] %>')" modal-toggle>Close</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

