<div class="well" data-ng-class="changedSections.<%= field[:id] %> && 'changed'">
  <div id="<%= field[:id] %>" class="section">
    <a class="section-edit pull-right pure-button pure-button-primary" modal-toggle="<%= field[:id] %>"
       data-ng-show="!clientChangeId">
      <i class="icon-plus"></i> <span class="only-desktops">Add <%= field[:name].singularize %></span>
    </a>
    <h3 class="no-top-margin no-bottom-margin"><%= field[:name] %></h3>
  </div>
  <%= render :partial => 'templates/action_table',
             :locals => {
               :name => 'data',
               :model => "client.#{field[:id]}.value",
               :rowClick => "editInField('#{field[:id]}',$index)",
               :fields => [
                 {
                   :name => field[:type].first[:name],
                   :content => "{{ item.#{field[:type].first[:id]} }}"
                 },
               ],
               :actions => [
                 {
                   :icon => 'icon-edit',
                   :click => "editInField('#{field[:id]}', $index)"
                 },
                 {
                   :class => 'pure-button-error',
                   :icon => 'icon-trash',
                   :click => "deleteFromField('#{field[:id]}', $index)",
                   :attrs => "data-ng-show='!clientChangeId'"
                 },
               ],
             } %>
</div>
<div class="separator"></div>
