<div id="<%= field[:id] %>" class="section">
  <a class="pull-right pure-button pure-button-primary"
     data-ng-click="subsectionVisible['<%= field[:id] %>'] = !subsectionVisible['<%= field[:id] %>']">
    <i data-ng-class="{'icon-caret-down': !subsectionVisible['<%= field[:id] %>'], 'icon-caret-up': subsectionVisible['<%= field[:id] %>']}"></i>
    <span class="verbose-desc">Edit <%= field[:name] %></span>
  </a>
  <h3 class="no-top-margin no-bottom-margin"><%= field[:name] %></h3>
</div>

<div class="subsection" id="subsection<%= field[:id] %>" data-ng-show="subsectionVisible['<%= field[:id] %>']">
  <% field[:type].each do |subfield| %>
    <div class="pure-control-group">
      <label name="<%= subfield[:id] %>" for="<%= subfield[:id] %>"><%= subfield[:name] %></label>
      <%= ng_input(subfield, 'client.' + subfield[:id])  %>
    </div>
  <% end %>
</div>
