<div class="subsection <%= field[:class] %>" section-id="<%= field[:id] %>"
     data-ng-class="changedSections.<%= field[:id] %> && 'changed'"
     data-ng-click="subsectionVisible['<%= field[:id] %>'] = true"
     animate-subsection>
  <div class="slider well"></div>
  <div class="subsection-outer" data-ng-class="{'active': subsectionVisible['<%= field[:id] %>']}">
    <div id="<%= field[:id] %>" class="section">
      <a class="pull-right section-expand pure-button pure-button-tiny" data-ng-click="subsectionVisible['<%= field[:id] %>'] = !subsectionVisible['<%= field[:id] %>']" eat-click>
        <i class="icon-xlarge" data-ng-class="{'icon-collapse-alt': subsectionVisible['<%= field[:id] %>'], 'icon-expand-alt': !subsectionVisible['<%= field[:id] %>']}"></i>
      </a>
      <h3 class="no-top-margin no-bottom-margin"><%= index %>. <%= field[:name] %></h3>
    </div>
    <div class="subsection-inner">
      <div class="subsection-contents pure-form-fields">
        <% field[:type].each do |subfield| %>
          <%= form_field subfield, local_assigns[:root] if subfield[:edit] != false %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="separator"></div>
