<% fields = Client::FIELDS %>

<% paths = {
     "Home" => "#/",
     "Clients" => "#/clients/index",
     "{{ (clientId || savedOnce) && (client.company.value || 'Client') }}" => "{{ '#/clients/show/' + client.id }}",
     "{{ clientChangeId ? 'History' : 'Details' }}" => "#/clients/{{ clientChangeId ? 'edit/' + clientId + '/' + clientChangeId : (clientId ? 'edit/' + clientId : 'new') }}",
   }
%>

<% content_for :sections do %>
  <ul>
    <% fields.each_with_index do |field, index| %>
      <% if field[:type].is_a? Array %>
        <li data-ng-class="changedSections.<%= field[:id] %> && 'changed'">
          <a href="" data-click-href="#<%= field[:id] %>" click-href-margin="145" click-href-condition="screen and (min-height: 768px)">
            <span class="section-number"><%= getSectionId(index, fields) %>.</span> <%= field[:name] %>
          </a>
        </li>
      <% end %>
    <% end %>
  </ul>
<% end %>

<%= render :layout => 'layouts/clients/edit', :locals => {:fields => fields, :paths => paths} do %>
  <%= render :partial => 'templates/breadcrumbs',
             :locals => { :paths => paths }
   %>
<% end %>
