<aside id="coverage-schedule-prompt" data-ng-show="showPrompt">
  No coverages have been entered yet. Would you like to add any standard coverages?<br />
  <br />
  <button type="button" ng-click="addDefaultCoverages('broad')" class="pure-button pure-button">
    Add Broad Coverages
  </button>
  <button type="button" ng-click="addDefaultCoverages('named')" class="pure-button pure-button">
    Add Named Coverages
  </button>
  <button type="button" ng-click="showPrompt = false" class="pure-button pure-button-error">
    No thanks
  </button>
</aside>

<div class="pure-g-r" id="coverage-schedule-form" coverage-schedule-form="<%= field[:id] %>" coverage-schedule-model="<%= local_assigns[:root] %>.<%= field[:id] %>.value">
  <div class="pure-u-1-5">
    <h3 class="no-top-margin">Category</h3>
    <select name="category" data-ng-model="coverage.category" size="2"
            data-ng-change="coverage.type = ''; switchCoverage()" data-ng-if="coverage"
            data-ng-readonly="false" data-ng-disabled="false" required>
      <option value="">Select a category...</option>
      <option ng-repeat="category in coverageCategories"
              ng-class="{selected: !emptyCoverage(category.name)}">{{ category.name }}</option>
    </select>
  </div>
  <div class="pure-u-2-5">
    <div class="type-header">
      <h3 class="no-top-margin">Type</h3>
      <button type="button" data-ng-click="addCoverageType()"
              class="pure-button pure-button-success pure-button-small"
              data-ng-show="coverage.category && !readonly">
        <i class="icon-plus"></i> Add Type
      </button>
    </div>
    <select size="2" data-ng-if="!coverage.category" disabled>
      <option>             </option>
    </select>
    <div data-ng-repeat="category in coverageCategories">
      <select data-ng-model="coverage.type" data-ng-if="coverage.category == category.name" size="2"
              data-ng-change="switchCoverage()" data-ng-readonly="false" data-ng-disabled="false" required>
        <option value="">Select a type...</option>
        <option data-ng-repeat="type in category.type"
                ng-class="{selected: !emptyCoverage(category.name, type.name)}">{{ type.name }}</option>
      </select>
    </div>
  </div>
  <div class="pure-u-2-5 pure-form pure-form-aligned">
    <h3 class="no-top-margin">Values</h3>
    <div data-ng-show="!coverage.category || !coverage.type">
      Please select a category and type.
    </div>

    <div class="pure-form-fields" data-ng-show="coverage.type">
      <% obj = 'curCoverage' %>
      <% changedCoverage = 'changedCoverages[coverage.category][coverage.type]' %>

      <% # We can't use the form helper for this; we have to dynamically add/remove checkboxes. %>
      <div class="pure-control-group" data-ng-if="curCoverageType.type">
        <label for="subtype" data-ng-class="{changed: <%= changedCoverage %>.subtype}"
               title="{{ <%= changedCoverage %>.subtype }}">Types</label>
        <div class="checkbox-container">
          <div data-ng-repeat="(id, name) in curCoverageType.type" class="checkbox-field"
               data-ng-click="toggleRadio('writeNode.curCoverage.subtype.value', id)">
            <input name="subtype" type="radio" ng-value="id" ng-checked="writeNode.curCoverage.subtype.value == id"
                   ng-disabled="readonly" ng-readonly="readonly">
            <label for="subtype" class="checkbox-label">{{ name }}</label>
          </div>
        </div>
      </div>

      <%
        coinsurance = {
          :name => 'Coinsurance',
          :id => 'coinsurance',
          :type => 'text',
          :placeholder => '(ex. 90%)',
          :prefill => {
            :type => 'calc',
            :expr => 'curCoverageType.coinsurance || "90%"',
          },
        }
      %>
      <%= form_field coinsurance, obj, :changed => "#{changedCoverage}.coinsurance" %>

      <%
        deductible = {
          :name => 'Deductible',
          :id => 'deductible',
          :type => 'text',
          :placeholder => '$ CAN (ex. 111.11)',
          :prefill => {
            :type => 'calc',
            :expr => 'curCoverageType.deductible || ""',
          },
        }
      %>
      <%= form_field deductible, obj, :changed => "#{changedCoverage}.deductible" %>

      <%
        limit = {
          :name => 'Limit',
          :id => 'limit',
          :type => 'currency',
          :placeholder => '$ CAN (ex. 111.11)',
          :prefill => {
            :type => 'calc',
            :expr => 'curCoverageType.limit || ""',
          },
        }
      %>
      <%= form_field limit, obj, :changed => "#{changedCoverage}.limit" %>

      <%
        premium = {
          :name => 'Rate/Premium',
          :id => 'premium',
          :type => 'text',
          :placeholder => '$ CAN or percentage',
          :if => '$root == "client"'
        }
      %>
      <% #form_field premium, obj, :changed => "#{changedCoverage}.premium" %>

      <div class="pure-control-group">
        <label></label>
        <button type="button" id="clear-coverage" data-ng-show="!readonly" data-ng-click="clearCoverage()"
                class="pull-right pure-button pure-button-error" eat-click>
          Clear Coverage
        </button>
      </div>
    </div>
  </div>
</div>
