<%
  schedules = [
    {
      :name => 'Property',
      :type => [
        {
          :name => 'Building, Equipment and Stock',
          :id => 'bldgEquipAndStock',
          :options => {
            'building' => 'Building',
            'equipment' => 'Equipment',
            'stock' => 'Stock',
          },
          :type => {
            'broad' => 'Broad',
            'named' => 'Named',
          },
        },
        {
          :name => 'Property of Every Description (POED)',
          :id => 'poed',
          :options => {
            'building' => 'Building',
            'equipment' => 'Equipment',
            'stock' => 'Stock',
          },
          :type => {
            'broad' => 'Broad',
            'named' => 'Named',
          },
        },
        {
          :name => 'Contents of Every Description (COED)',
          :id => 'COED',
          :options => {
            'equipment' => 'Equipment',
            'stock' => 'Stock',
          },
          :type => {
            'broad' => 'Broad',
            'named' => 'Named',
          },
        },
        {
          :name => 'Office Contents (Broad)',
          :id => 'officeContents',
        },
        {
          :name => 'Electronic Data Processing Systems (Broad)',
          :id => 'electronicDataProcessing',
        },
        {
          :name => 'Valuable Papers & Records (Broad)',
          :id => 'valuablePapersRecords',
        },
        {
          :name => 'Accounts Receivable (Broad)',
          :id => 'accountsReceivable',
        },
        {
          :name => 'Residential Condominiums (Broad)',
          :id => 'residentialCondominiums',
        },
        {
          :name => 'Commercial Condominiums (Broad)',
          :id => 'commercialCondominiums',
        },
        {
          :name => 'Contractor’s Equipment',
          :id => 'contractorsEquipment',
          :type => {
            'broad' => 'Broad',
            'named' => 'Named',
          },
        },
        {
          :name => 'Tool Floater',
          :id => 'toolFloater',
          :type => {
            'broad' => 'Broad',
            'named' => 'Named',
          },
        },
        {
          :name => 'Transportation Floater',
          :id => 'transportationFloater',
          :type => {
            'broad' => 'Broad',
            'named' => 'Named',
          },
        },
        {
          :name => 'Motor Truck Cargo – Owner’s',
          :id => 'motorTruckCargoOwner',
          :type => {
            'broad' => 'Broad',
            'named' => 'Named',
          },
        },
        {
          :name => 'Motor Truck Cargo – Truckmen’s',
          :id => 'motorTruckCargoTruckmen',
          :type => {
            'broad' => 'Broad',
            'named' => 'Named',
          },
        },
        {
          :name => 'Trip Transit (Broad)',
          :id => 'tripTransit',
        },
        {
          :name => 'Builders Risk',
          :id => 'buildersRisk',
          :type => {
            'broad' => 'Broad',
            'named' => 'Named',
          },
        },
        {
          :name => 'Installation Floater',
          :id => 'instalationFloater',
          :type => {
            'broad' => 'Broad',
            'named' => 'Named',
          },
        },
        {
          :name => 'Bailees’ Customers',
          :id => 'baileesCustomers',
          :type => {
            'broad' => 'Broad',
            'named' => 'Named',
          },
        },
        {
          :name => 'Warehouseman’s Legal Liability',
          :id => 'warehousemansLiability',
          :type => {
            'broad' => 'Broad',
            'named' => 'Named',
          },
        },
        {
          :name => 'Equipment Dealer’s Stock and Equipment',
          :id => 'dealersStockAndEquipment',
          :options => {
            'equipment' => 'Equipment',
            'stock' => 'Stock',
          },
          :type => {
            'broad' => 'Broad',
            'named' => 'Named',
          },
        },
        {
          :name => 'Exhibition Floater',
          :id => 'exibitionFloater',
          :type => {
            'broad' => 'Broad',
            'named' => 'Named',
          },
        },
        {
          :name => 'Fine Arts Floater (Broad)',
          :id => 'fineArtsFloater',
        },
        {
          :name => 'Signs Floater (Broad)',
          :id => 'signsFloater',
        },
        {
          :name => 'Misc. Property Floater',
          :id => 'miscPropertyFloater',
          :type => {
            'broad' => 'Broad',
            'named' => 'Named',
          },
        },
        {
          :name => 'Furriers Block (Broad)',
          :id => 'furriersBlock',
        },
        {
          :name => 'Furriers Customers – Custody Rider (Broad)',
          :id => 'furriersCustomersCustody',
        },
        {
          :name => 'Furriers Customers – Legal Liability Rider (Broad)',
          :id => 'furriersCustomersLiability',
        },
        {
          :name => 'Jewellers Block (Broad)',
          :id => 'jewellersBlock',
        },
        {
          :name => 'Heavy Equipment in Use',
          :id => 'heavyEquipmentInUse',
          :type => {
            'broad' => 'Broad',
            'named' => 'Named',
          },
        },
        {
          :name => 'Small Equipment in Use',
          :id => 'smallEquipmentInUse',
          :type => {
            'broad' => 'Broad',
            'named' => 'Named',
          },
        },
        {
          :name => 'Real Property',
          :id => 'realProperty',
          :type => {
            'broad' => 'Broad',
            'named' => 'Named',
          },
        },
        {
          :name => 'Other Transportation',
          :id => 'otherTransport',
          :type => {
            'broad' => 'Broad',
            'named' => 'Named',
          },
        },
        {
          :name => 'Other Bailees Floater',
          :id => 'otherBaileesFloater',
          :type => {
            'broad' => 'Broad',
            'named' => 'Named',
          },
        },
        {
          :name => 'Installment Sales Floater',
          :id => 'installmentSalesFloater',
          :type => {
            'broad' => 'Broad',
            'named' => 'Named',
          },
        },
        {
          :name => 'Other Sales Operations',
          :id => 'otherSalesOperations',
          :type => {
            'broad' => 'Broad',
            'named' => 'Named',
          },
        },
        {
          :name => 'Other Construction',
          :id => 'otherConstruction',
          :type => {
            'broad' => 'Broad',
            'named' => 'Named',
          },
        },
        {
          :name => 'Difference in Conditions',
          :id => 'differenceInConditions',
          :type => {
            'broad' => 'Broad',
            'named' => 'Named',
          },
        },
        {
          :name => 'Other Misc. Floaters',
          :id => 'otherMiscFloaters',
          :type => {
            'broad' => 'Broad',
            'named' => 'Named',
          },
        },
        {
          :name => 'Misc. Wording (Broad)',
          :id => 'miscWordingBroad',
        },
        {
          :name => 'Misc. Wording (Named)',
          :id => 'MiscWordingNamed',
        },
      ],
    },
    {
      :name => 'Business Income',
      :type => [
        {
          :name => 'Business Income',
          :id =>'businessIncome',
          :type => {
            'broad' => 'Broad',
            'named' => 'Named',
          },
        },
        {
          :name => 'Extended Business Income',
          :id =>'extendedBusinessIncome',
          :type => {
            'broad' => 'Broad',
            'named' => 'Named',
          },
        },
        {
          :name => 'Rental Income',
          :id =>'rentalIncome',
          :type => {
            'broad' => 'Broad',
            'named' => 'Named',
          },
        },
        {
          :name => 'Extended Rental Income',
          :id =>'extendedRentalIncome',
          :type => {
            'broad' => 'Broad',
            'named' => 'Named',
          },
        },
        {
          :name => 'Extra Expense',
          :id =>'extraExpense',
          :type => {
            'broad' => 'Broad',
            'named' => 'Named',
          },
        },
      ],
    },
    {
      :name => 'Business Interruption',
      :type => [
        {
          :name => 'Profits (Broad/Named)',
          :id => 'profits',
          :type => {
            'broad' => 'Broad',
            'named' => 'Named',
          },
        },
        {
          :name => 'Gross Earnings–Mercantile or Non-Manufacturing ',
          :id => 'GrossEMOrNM',
        },
        {
          :name => 'Gross Earnings–Manufacturing',
          :id => 'GrossEarningsManufacturing',
          :type => {
            'broad' => 'Broad',
            'named' => 'Named',
          },
        },
        {
          :name => 'Earnings – No Co-Insurance',
          :id => 'EarningsNoCons',
          :type => {
            'broad' => 'Broad',
            'named' => 'Named',
          },
        },
        {
          :name => 'Rent or Rental Value',
          :id => 'rentRetalValue',
          :type => {
            'broad' => 'Broad',
            'named' => 'Named',
          },
        },
        {
          :name => 'Gross Rentals',
          :id => 'grossRentals',
          :type => {
            'broad' => 'Broad',
            'named' => 'Named',
          },
        },
        {
          :name => 'Extra Expense',
          :id => 'extraExpense',
          :type => {
            'broad' => 'Broad',
            'named' => 'Named',
          },
        },
        {
          :name => 'Other Business Interruption',
          :id => 'otherBusinessInterruption',
          :type => {
            'broad' => 'Broad',
            'named' => 'Named',
          },
        },
        {
          :name => 'Misc. Wording (Broad)',
          :id => 'miscWordingBroad',
        },
        {
          :name => 'Misc. Wording (Named)',
          :id => 'MiscWordingNamed',
        },
      ],
    },
    {
      :name => 'Crime',
      :type => [
        {
          :name => 'Comprehensive 3 D',
          :id => 'comprehensiveThreeD',
        },
        {
          :name => 'Employee Dishonesty (Individual)',
          :id => 'employeeDishonestyIndivid',
        },
        {
          :name => 'Employee Dishonesty (Scheduled - attach)',
          :id => 'employeeDishonestySched',
          :type => {
            'named' => 'Named',
            'position' => 'Position',
          },
        },
        {
          :name => 'Money & Securities',
          :id => 'moneySecurities',
          :type => {
            'broad' => 'Broad',
            'robery' => 'Robery',
          },
        },
        {
          :name => 'Money Orders & Counterfeit Paper Currency',
          :id => 'moneyOrders',
        },
        {
          :name => 'Depositors Forgery',
          :id => 'depositorsForgery',
        },
        {
          :name => 'Damage to Building by Burglary or Robbery',
          :id => 'dammageBuild',
        },
        {
          :name => 'Stock & Equipment Burglary',
          :id => 'sAndEBurglary',
        },
        {
          :name => 'Safe Burglary',
          :id => 'safeBurglary',
        },
        {
          :name => 'Safe Deposit Box Burglary & Robbery',
          :id => 'safeDepositBoxBurglary',
        },
        {
          :name => 'Safe Deposit Box Securities (Broad)',
          :id => 'safeDepositBoxSecurities',
        },
        {
          :name => 'Office Burglary & Robbery',
          :id => 'officeBueglary',
          :type => {
            'fourPoint' => '4 Point',
            'sevenPoint' => '7 Point',
          },
        },
        {
          :name => 'Store Burglary & Robbery (Seven Point)',
          :id => 'storeBurglary',
        },
        {
          :name => 'Church Theft',
          :id => 'churchTheft',
        },
        {
          :name => 'Misc. Wording',
          :id => 'miscWording',
        },
      ],
    },
    {
      :name => 'Liability',
      :type => [
        {
          :name => 'Commercial General Liability (Occurrence Form)',
          :id => 'commercialGeneralLiability',
        },
        {
          :name => 'Comprehensive General Liability',
          :id => 'comprehensiveGeneralLiability',
        },
        {
          :name => 'Owners’, Landlords’, and Tenants’ Liability',
          :id => 'ownersLandlords',
        },
        {
          :name => 'Tenants’ Legal Liability',
          :id => 'tenantsLegalLiability',
          :type => {
            'broad' => 'Broad',
            'limited' => 'Limited',
          },
        },
        {
          :name => 'Non-Owned Automobile Liability (SPF 6)',
          :id => 'nonOwnedAutoLiability',
        },
        {
          :name => 'Worldwide Non-owned Automobile Liability',
          :id => 'WWNonOwnedAuto',
        },
        {
          :name => 'Voluntary Compensation',
          :id => 'VoluntaryComensation',
        },
        {
          :name => 'Professional Liability',
          :id => 'professionalLiability',
        },
        {
          :name => 'Directors’ & Officers Liability',
          :id => 'directorsOfficersLiability',
          :type => {
            'profit' => 'Profit',
            'nonProfit' => 'Non profit',
          },
        },
        {
          :name => 'Employers’ Bodily Injury Liability',
          :id => 'employersBodilyIngury',
        },
        {
          :name => 'Wrap-up Liability',
          :id => 'wrapUPLiability',
        },
        {
          :name => 'Pollution Liability',
          :id => 'pollutionLiability',
        },
        {
          :name => 'Excess Liability',
          :id => 'excessLiability',
        },
        {
          :name => 'Misc. Wording',
          :id => 'miscWording',
        },
      ],
    },
    {
      :name => 'Umbrella',
      :type => [
        {
          :name => 'Umbrella Liability',
          :id => 'umbrellaLiability',
        },
        {
          :name => 'Misc. Wording',
          :id => 'miscWording',
        },
      ],
    },
    {
      :name => 'Machinery Breakdown',
      :type => [
        {
          :name => 'Machinery Breakdown',
          :id => 'machineryBreakdown',
        },
        {
          :name => 'Business Interruption (Actual Loss)',
          :id => 'businessInterruptionAL',
        },
        {
          :name => 'Business Interruption (Loss of Profit)',
          :id => 'businessInterruptionLOP',
        },
        {
          :name => 'Business Interruption (Gross Earnings)',
          :id => 'businessInterruptionGE',
        },
        {
          :name => 'Business Interruption (Rent or Rental Value)',
          :id => 'businessInterruptionRRV',
        },
        {
          :name => 'Business Interruption (Extra Expense)',
          :id => 'businessInterruptionEE',
        },
        {
          :name => 'Misc. Wording',
          :id => 'miscWording',
        },
      ],
    },
    {
      :name => 'Other',
      :type => [
        {
          :name => 'Fees to Substantiate Loss',
          :id => 'feesToSubstantiateLoss',
        },
        {
          :name => 'Glass',
          :id => 'glass',
        },
        {
          :name => 'Additional Insured',
          :id => 'additionalInsured',
        },
        {
          :name => 'Exclusion of Asbestos Related Claims',
          :id => 'execlusionOfAsbestosRelated',
        },
        {
          :name => 'Blanket Machinery Breakdown',
          :id => 'blanketMachinery',
        },
        {
          :name => 'Misc. Wording',
          :id => 'miscWording',
        },
      ],
    },
  ]
%>

<div class="pure-g-r">
  <div class="pure-u-1-3">
    <select data-ng-model="coverageSchedules.category">
      <% schedules.each do |category| %>
        <option><%= category[:name] %></option>
      <% end %>
    </select>
  </div>
  <div class="pure-u-1-3">
    <% schedules.each do |category| %>
      <select data-ng-model="coverageSchedules.type" data-ng-show="coverageSchedules.category == '<%= category[:name] %>'">
        <% category[:type].each do |type| %>
          <option><%= type[:name] %></option>
        <% end %>
      </select>
    <% end %>
  </div>
  <div class="pure-u-1-3">
    <% schedules.each do |category| %>
      <% category[:type].each do |type| %>
        <% if !type[:options].nil? %>
          <%
            optionsMenu = {
              :name => '',
              :id => type[:id],
              :type => 'radio',
              :options => type[:options],
            }
           %>
          <div data-ng-show="coverageSchedules.type == '<%= type[:name] %>'">
            <%= client_field optionsMenu, parent_field: {:id => 'coverageSchedules'} %>
          </div>

          <%
            typesMenu = {
              :name => '',
              :id => type[:id],
              :type => 'radio',
              :options => type[:type],
            }
           %>
          <div data-ng-show="coverageSchedules.type == '<%= type[:name] %>'">
            <%= client_field typesMenu, parent_field: {:id => 'coverageSchedules'} %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
