<% content_for :navbar do %>
  <div class="title">Consilium</div>
<% end %>

<% if params.has_key?(:error) %>
  <div class="alert alert-error">
    <a class="close" data-dismiss="alert">×</a>
    <%= params[:notice] %>
  </div>
  <br />
<% end %>

<% if params.has_key?(:success) %>
  <div class="alert alert-success">
    <a class="close" data-dismiss="alert">×</a>
    <%= params[:success] %>
  </div>
  <br />
<% end %>

<div class="page-header">
  <div class="loggedInAs">Welcome back, David Jones.</div><br>

  <div class="buttons">
    <%= link_to 'Create New Client', new_user_registration_path, :class => 'pure-button pure-button-large pure-button-primary pure-button-fixed-width' %><br><br>
    <%= link_to 'Find Existing Client', find_user_registration_path, :class => 'pure-button pure-button-large pure-button-fixed-width' %><br><br>
    <%= link_to 'Document History', root_path, :class => 'pure-button pure-button-large pure-button-fixed-width' %><br>
  </div>
</div>
