<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="description" content="">
    <meta name="author" content="">
    <title><%= content_for?(:title) ? yield(:title) : 'Consilium' %></title>
    <%= stylesheet_link_tag 'application', :media => 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
  </head>
  <body>
    <div id="main" role="main">
      <div id="nav" class="pure-u">
        <div class="pure-menu pure-menu-open">
          <%= link_to 'Consilium', root_path, :class => 'pure-menu-heading' %>
          <ul>
            <li><%= nav_link 'New Client', new_user_registration_path, nil, {:wrapper => 'li', :selected_class => 'pure-menu-selected'} %></li>
            <li><%= nav_link 'Find Client', find_user_registration_path, nil, {:wrapper => 'li', :selected_class => 'pure-menu-selected'} %></li>
            <li><%= nav_link 'Document History', root_path %></li>
            <li class="menu-item-divided"><%= nav_link 'My Account', root_path %></li>
            <li><%= nav_link 'My Brokerage', root_path %></li>
          </ul>
        </div>
      </div>
      <div class="content">
        <%= yield %>
      </div>
      <footer>
      </footer>
    </div>
  </body>
</html>
