<% fields = [
  :name,
  :address,
  :city,
  :province,
  :country,
  :phone
] %>

<div id="form-nav" class="form-tabs" style="display: none;">
  <ul class="nav nav-pills nav-stacked affix">
    <li><a href="#basicInformation">Basic Info.</a></li>
    <li><a href="#clientContacts">Client Contacts</a></li>
    <li><a href="#businessOperations">Business Operations</a></li>
    <li><a href="#claimsInformation">Claims Info.</a></li>
    <li><a href="#previousPolicyInformation">Previous Policy Info.</a></li>
    <li><a href="#liabilityInformation">Liability Info.</a></li>
    <li><a href="#misc">Misc.</a></li>
    <li><a href="#">Location Info.</a></li>
    <li><a href="#">Risk Info.</a></li>
    <li><a href="#coverageSchedule">Coverage Schedule</a></li>
    <li><a href="#property">Property</a></li>
    <li><a href="#umbrellaMachinery">Umbrella/Machinery</a></li>
    <li><a href="#saveAndSubmit">Save and Submit <i class="icon-chevron-right"></i></a></li>
  </ul>
</div>

<%= form_for @user, :html => {:class => 'pure-form pure-form-aligned new-client'} do |f| %>
  <%= field_set_tag nil, :class => 'new-client-inner' do %>
    <div class="page-header">
      <h2>New Client</h2>
      <div class="breadcrumbs">
        <%= link_to 'Home', root_path %>
        <span class="divider">&gt;</span>
        <%= link_to 'New Client', new_user_registration_path %>
      </div>
      <hr class="soften" />
    </div>

    <div id="basicInformation" class="new-client-section">
      <h3>Basic Info.</h3>

      <%= render :partial => 'users/registrations/new_form_field',
                 :locals => {:f => f, :field => :name, :placeholder => 'First name Last name'} %>

      <%= render :partial => 'users/registrations/new_form_field',
                 :locals => {:f => f, :field => :address, :placeholder => 'Address (apt, suite, bldg.)'} %>

      <%= render :partial => 'users/registrations/new_form_field',
                 :locals => {:f => f, :field => :city_and_province, :placeholder => 'City, Province'} %>

      <%= render :partial => 'users/registrations/new_form_field',
                 :locals => {:f => f, :field => :phone, :placeholder => 'Area code-phone number'} %>
    </div>

    <div id="clientContacts" class="new-client-section">
      <div id="popoverAddClientContact" class="popover">
        <div class="popover-inner">
          <%= form_for @user, :html => {:class => 'pure-form pure-form-aligned'} do |f| %>
            <h3>Add Client Contact</h3>
            <%= render :partial => 'users/registrations/new_form_field',
                       :locals => {:f => f, :field => :first_name} %>
            <%= render :partial => 'users/registrations/new_form_field',
                       :locals => {:f => f, :field => :last_name} %>
            <%= render :partial => 'users/registrations/new_form_field',
                       :locals => {:f => f, :field => :last_name, :text => 'Mr./Mrs./Dr.'} %>
            <%= render :partial => 'users/registrations/new_form_field',
                       :locals => {:f => f, :field => :last_name, :text => 'Position'} %>
            <%= render :partial => 'users/registrations/new_form_field',
                       :locals => {:f => f, :field => :last_name, :text => 'Phone'} %>
            <%= render :partial => 'users/registrations/new_form_field',
                       :locals => {:f => f, :field => :last_name, :text => 'Email'} %>
            <%= render :partial => 'users/registrations/new_form_field',
                       :locals => {:f => f, :field => :last_name, :text => 'Other'} %>
            <br>
            <%= link_to 'Save', '', :class => 'pure-button pure-button-primary', :id => 'btnSaveAddClientContact' %>
            <%= link_to 'Cancel', '', :class => 'pure-button' %>
          <% end %>
        </div>
      </div>

      <a id="btnAddClientContact" class="pull-right pure-button pure-button-primary"><i class="icon-plus"></i> Add Client Contact</a>
      <h3>
        Client Contacts
      </h3>

      <table class="pure-table pure-table-horizontal" style="width: 100%;">
        <thead>
          <tr>
            <th>Name</th>
            <th style="text-align: right">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr id="clientContactsEmptyRecord">
            <td><em>None</em></td>
            <td></td>
          </tr>
          <tr id="clientContactsSampleRecord" class="hide">
            <td>Leroy Jenkins</td>
            <td style="text-align: right"><a class="btn"><i class="icon-edit icon-large"></i></a> <a class="btn btn-danger"><i class="icon-trash icon-large"></i></a></td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- !!!!
    <div id="businessOperations" class="well">
      <h3>
        Business Operations
        <a id="btnAddClientContact" data-toggle="popover" class="btn btn-success pull-right"><i class="icon-plus"></i> Add Business Op.</a>
      </h3>

      <table class="table table-striped">
        <thead>
          <tr>
            <th>Description of Operations</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><em>None</em></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div id="claimsInformation" class="well">
      <h3>
        Claims Info.
        <a id="btnAddClientContact" data-toggle="popover" class="btn btn-success pull-right"><i class="icon-plus"></i> Add Claim Info.</a>
      </h3>

      <table class="table table-striped">
        <thead>
          <tr>
            <th>Loss Date</th>
            <th>Type</th>
            <th>Description</th>
            <th>Amount Paid</th>
            <th>Reserve</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><em>None</em></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div id="previousPolicyInformation" class="well">
      <div id="popoverAddClientContact" class="hide">
        <%= form_for @user, :html => {:class => 'form-horizontal'} do |f| %>
          <h4 class="center">Add Client Contact</h4>
          <hr class="soften" />
          <%= render :partial => 'users/registrations/new_form_field',
                     :locals => {:f => f, :field => :first_name} %>
          <%= render :partial => 'users/registrations/new_form_field',
                     :locals => {:f => f, :field => :last_name} %>
          <%= render :partial => 'users/registrations/new_form_field',
                     :locals => {:f => f, :field => :last_name, :text => 'Mr./Mrs./Dr.'} %>
          <%= render :partial => 'users/registrations/new_form_field',
                     :locals => {:f => f, :field => :last_name, :text => 'Position'} %>
          <%= render :partial => 'users/registrations/new_form_field',
                     :locals => {:f => f, :field => :last_name, :text => 'Phone'} %>
          <%= render :partial => 'users/registrations/new_form_field',
                     :locals => {:f => f, :field => :last_name, :text => 'Email'} %>
          <%= render :partial => 'users/registrations/new_form_field',
                     :locals => {:f => f, :field => :last_name, :text => 'Other'} %>
          <%= f.submit 'Cancel', :class => 'btn btn-danger pull-right' %>
          <%= f.submit 'Save', :class => 'btn btn-success pull-right', :style => 'margin-right: 10px;', :id => 'btnSaveAddClientContact' %>
          <br>
        <% end %>
      </div>

      <h3>
        Previous Policy Info.
        <a id="btnAddClientContact" data-toggle="popover" class="btn btn-success pull-right"><i class="icon-plus"></i> Add Client Contact</a>
      </h3>

      <table class="table table-striped">
        <thead>
          <tr>
            <th>Position</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Other</th>
            <th style="text-align: right">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr id="clientContactsEmptyRecord">
            <td><em>None</em></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr id="clientContactsSampleRecord" class="hide">
            <td>CEO</td>
            <td></td>
            <td></td>
            <td></td>
            <td style="text-align: right"><a class="btn"><i class="icon-edit icon-large"></i></a> <a class="btn btn-danger"><i class="icon-trash icon-large"></i></a></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div id="liabilityInformation" class="well">
      <h3>
        Liability Info.
        <a id="btnAddClientContact" data-toggle="popover" class="btn btn-success pull-right"><i class="icon-plus"></i> Add Business Operation</a>
      </h3>

      <table class="table table-striped">
        <thead>
          <tr>
            <th>Description of Operations</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><em>None</em></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div id="misc" class="well">
      <h3>
        Misc
        <a id="btnAddClientContact" data-toggle="popover" class="btn btn-success pull-right"><i class="icon-plus"></i> Add Claim Info.</a>
      </h3>

      <table class="table table-striped">
        <thead>
          <tr>
            <th>Loss Date</th>
            <th>Type</th>
            <th>Description</th>
            <th>Amount Paid</th>
            <th>Reserve</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><em>None</em></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>

    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    asdfasdfasdf<br>
    <br>

    <div id="coverageSchedule" class="well">
      <h3>
        Coverage Schedule
        <a id="btnCoverageSchedule" data-toggle="popover" class="btn btn-success pull-right"><i class="icon-plus"></i> Add Coverage</a>
      </h3>

      <table class="table table-striped">
        <thead>
          <tr>
            <th>Property</th>
            <th style="text-align: right">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Office Contents</td>
            <td style="text-align: right"><a class="btn"><i class="icon-edit icon-large"></i></a> <a class="btn btn-danger"><i class="icon-trash icon-large"></i></a></td>
          </tr>
          <tr>
            <td>Accounts Receivable (Broad)</td>
            <td style="text-align: right"><a class="btn"><i class="icon-edit icon-large"></i></a> <a class="btn btn-danger"><i class="icon-trash icon-large"></i></a></td>
          </tr>
          <tr>
            <td>Trip Transit (Broad)</td>
            <td style="text-align: right"><a class="btn"><i class="icon-edit icon-large"></i></a> <a class="btn btn-danger"><i class="icon-trash icon-large"></i></a></td>
          </tr>
          <tr>
            <td>Installation Floater</td>
            <td style="text-align: right"><a class="btn"><i class="icon-edit icon-large"></i></a> <a class="btn btn-danger"><i class="icon-trash icon-large"></i></a></td>
          </tr>
          <tr>
            <td>Heavy Equipment in Use</td>
            <td style="text-align: right"><a class="btn"><i class="icon-edit icon-large"></i></a> <a class="btn btn-danger"><i class="icon-trash icon-large"></i></a></td>
          </tr>
          <tr>
            <td>Real Property</td>
            <td style="text-align: right"><a class="btn"><i class="icon-edit icon-large"></i></a> <a class="btn btn-danger"><i class="icon-trash icon-large"></i></a></td>
          </tr>
          <tr>
            <td>Other Transportation</td>
            <td style="text-align: right"><a class="btn"><i class="icon-edit icon-large"></i></a> <a class="btn btn-danger"><i class="icon-trash icon-large"></i></a></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div id="property" class="well">
      <h3>
        Property
        <a id="btnAddClientContact" data-toggle="popover" class="btn btn-success pull-right"><i class="icon-plus"></i> Add Property</a>
      </h3>

      <table class="table table-striped">
        <thead>
          <tr>
            <th>Make &amp; Model</th>
            <th style="text-align: right">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Aurora Manufacturing Plant</td>
            <td style="text-align: right"><a class="btn"><i class="icon-edit icon-large"></i></a> <a class="btn btn-danger"><i class="icon-trash icon-large"></i></a></td>
          </tr>
          <tr>
            <td>Toronto Head Office</td>
            <td style="text-align: right"><a class="btn"><i class="icon-edit icon-large"></i></a> <a class="btn btn-danger"><i class="icon-trash icon-large"></i></a></td>
          </tr>
          <tr>
            <td>Mississauga Distributor</td>
            <td style="text-align: right"><a class="btn"><i class="icon-edit icon-large"></i></a> <a class="btn btn-danger"><i class="icon-trash icon-large"></i></a></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div id="umbrellaMachinery" class="well">
      <h3>
        Umbrella/Machinery
        <a id="btnAddClientContact" data-toggle="popover" class="btn btn-success pull-right"><i class="icon-plus"></i> Add Umbrella/Machinery</a>
      </h3>

      <table class="table table-striped">
        <thead>
          <tr>
            <th>Make &amp; Model</th>
            <th style="text-align: right">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Ford F150</td>
            <td style="text-align: right"><a class="btn"><i class="icon-edit icon-large"></i></a> <a class="btn btn-danger"><i class="icon-trash icon-large"></i></a></td>
          </tr>
          <tr>
            <td>John Deere Garbage Compactor</td>
            <td style="text-align: right"><a class="btn"><i class="icon-edit icon-large"></i></a> <a class="btn btn-danger"><i class="icon-trash icon-large"></i></a></td>
          </tr>
          <tr>
            <td>Magna Metal Mill</td>
            <td style="text-align: right"><a class="btn"><i class="icon-edit icon-large"></i></a> <a class="btn btn-danger"><i class="icon-trash icon-large"></i></a></td>
          </tr>
        </tbody>
      </table>
    </div>

    <hr class="soften" />

    <div id="saveAndSubmitModal" class="modal fade hide">
      <div class="modal-header">
        <h3>Not Connected to the Internet</h3>
      </div>
      <div class="modal-body">
        You are currently offline. Your changes will be synced next time you are online.
      </div>
      <div class="modal-footer">
        <%= link_to 'OK', '#saveAndSubmitModal', :class => 'btn btn-large btn-primary', :data => {:dismiss => 'modal'} %>
      </div>
    </div>

    <div id="saveAndSubmit" class="text-right">
      <% #link_to 'Save and Submit', '#saveAndSubmitModal', :class => 'btn btn-large btn-success', :data => {:toggle => 'modal'} %>
      <%= link_to 'Save and Submit', '/done', :class => 'btn btn-large btn-success' %>
      <a class="btn btn-large btn-danger">Cancel</a>
    </div>

    <br>
    -->
  <% end %>
<% end %>
