<!DOCTYPE html>
<html>
<head>
  <title>Consilium</title>
  <%= stylesheet_link_tag "server", media: "all" %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag "server" %>
  <meta name="HandheldFriendly" content="true" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="description" content="">
  <meta name="author" content="">
</head>
<body>
  <header>
  </header>
  <div class="pure-g-r">
    <div id="main" class="pure-u">
      <div class="pure-g-r">
        <div class="pure-u navbar">
          <%= link_to (raw image_tag('/img/logo.png')), root_path, :class => 'title pull-left' %>
          <div class="navbar-links">
            <a class="active" href="#home">Home</a>
            <a href="#features">Features</a>
            <%= link_to user_signed_in? ? 'Go to App' : 'Login', app_root_path %>
          </div>
        </div>
      </div>
      <div id="layout">
        <%= yield %>
      </div>
    </div>
  </div>
  <footer>
  </footer>
</body>
</html>
