<!DOCTYPE html>
<html>
<head>
  <title>Consilium</title>
  <%= stylesheet_link_tag "server", media: "all" %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag "application" %>
  <meta name="HandheldFriendly" content="true" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="description" content="">
  <meta name="author" content="">
</head>
<body>
  <header>
  </header>
  <div class="pure-g-r">
    <div id="main" class="pure-u">
      <div class="pure-g-r">
        <div class="pure-u navbar">
          <div class="content">
            <span class="title pull-left">Consilium</span>
            <span class="nav-sections">
              <a class="pure-button pure-button-light">Section</a>
              <a class="pure-button pure-button-light">Topics</a>
            </span>
            <a class="pure-button">Contact Us</a>
            <%= link_to 'Login', new_user_session_path, :class => 'pure-button pure-button-secondary' %>
          </div>
        </div>
      </div>
      <div id="layout">
        <div class="content">
          <%= yield %>
        </div>
      </div>
    </div>
  </div>
  <footer>
  </footer>
</body>
</html>
